@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&display=swap');

*, div {margin: 0; padding: 0;}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    

}

h1 {color: #70a9a1;}

 .header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 80vh;
    line-height: 1.8rem;
    bottom: 0;
 }

 

p {color: #0b2027; padding: 20px; font-family: kanit; width: 50%;}

.bio{display: flex; justify-content: center; align-items: center; height: 80vh}

.biotext{width: 80%;}

.logo {
    margin: 5% 0px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: -1px 5px 5px black;
}

.certificate {
    width: 25%;
    margin: 20px;
}

.certificateContainer {
    background: #cfd7c7;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
   
}

@media (max-width: 670px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        height: 80vh;
        line-height: 1.8rem;
        height: auto;
    }

    .logo{margin: 5%}

    p{width: 80%;}

    .bio{height: auto; text-align: center;}

    .biotext{line-height: 2rem;}
    .certificateContainer{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .certificate{width: 300px; margin: 20px 0px}
}