@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&display=swap');
.body {
    padding: 10% 0;
    width: 100vw;
    height: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 50px;


}

.projectCardBody {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectLink {
    border: none;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.techUsed {
    width: 70%;
    height: fit-content;
    background: #70a9a1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: #0B2027;
    font-family: Kanit;
    font-weight: 900;
    
}

i {
    color: black;
}

@media (max-width: 500px) {
    .body {
        grid-template-columns: auto;
        height: auto;
    }
}