@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&display=swap');
.body {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.hero {
    height: 98vh;
    background-image: url("../images/desktop-projects.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.projects {
    font-size: 7rem;
    font-family: cursive;
    font-weight: 100;
    color: white;
    margin-right: 20px;
}

.projectCardBody {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.cardInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectLink {
    border: none;
    width: 450px;
    height: 350px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.techUsed {
    width: 70%;
    height: fit-content;
    background: #081c33;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: Kanit;
    font-weight: 900;
    
}

i {
    color: #2c2c29;
}

@media (max-width: 500px) {

    .body {
        flex-direction: column;
        height: auto;
        overflow: hidden;
        width: 100vw;
        margin: 0;
    }

    .projectCardBody {
        margin: 20px 0px;
    }
}

@media (max-width: 300px) {
    .projectLink {
        width: 280px;
        height: 200px;
        margin-top: 30px;
    }
}