@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&display=swap');
*, html, head, div {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.main {
    background: #0b2027;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.findme{
    color: #f6f1d1;
    font-family: Kanit;
    font-size: 1.8rem;
}

span {
    font-family: Kanit; color: #70a9a1; font-size: larger;
}

button {
    background: none;
    border: none;
}

 i {
    margin: 20px;
    color: white;
    text-shadow: -2px 5px 5px black;
}